.h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--textHighlight);
  text-align: center;
  font-weight: 800;
  margin: 3rem 0;
  letter-spacing: 0.1rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.container h3 {
  font-size: 1.6rem;
  margin: 4rem 0 0;
  font-weight: 700;
}

.container p {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.container span {
  font-size: 1.6rem;
  font-weight: 700;
}

/* Agree to Image Rights checkbox */
.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.checkBox label {
  font-size: 1.3rem;
  gap: 1rem;
  font-weight: 600;
}

.checkboxContainer p {
  font-size: 1.3rem;
  color: var(--button);
  margin: 2rem 0;
}

/* Media query for medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 85%;
  }
}

/* Media query for large devices (desktops) */
@media only screen and (min-width: 1025px) {
  .container {
    width: 85%;
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
  }
  .sectionLeft {
    width: 60%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 4rem;
  }
  .sectionRight {
    width: 40%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 4rem;
  }
}
